{% extends 'admin/baseadmin.html.twig' %}

{% block body %}
{{ parent() }}
{% include 'admin/header.html.twig' %}

<div class="bodyadmin">
    <h1>Post creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" class="btn btn-success btn-sm" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-warning btn-sm"  href="{{ path('blog_post_index') }}">Retour à la liste</a>
        </li>
    </ul>

    </div>
{% endblock %}
