{% extends 'admin/baseadmin.html.twig' %}

{% block body %}
{{ parent() }}
{% include 'admin/header.html.twig' %}

<div class="bodyadmin">

    <h1>Post</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ post.titre }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ post.text }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ post.auteur }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if post.date %}{{ post.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ post.resume }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ post.image }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary btn-sm"  href="{{ path('blog_post_index') }}">Retouner à la liste</a>
        </li>
        <li>
            <a class="btn btn-warning btn-sm"  href="{{ path('blog_post_edit', { 'id': post.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger btn-sm" >
            {{ form_end(delete_form) }}
        </li>
    </ul>

    </div>
{% endblock %}
