{% extends 'info/baseinfo.html.twig' %}

{% block body %}
{{parent()}}

<div id="form_contact">

  <h3>Une question à poser ou un simple message à nous faire passer, à vous de jouer...</h3>

{{ form_start(form) }}

    <div  class="form_input">
        {{ form_widget(form.subject) }}
        {{ form_errors(form.subject) }}
    </div>
    <div class="form_input">
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="form_input">
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>
    <div class="form_input">
        {{ form_widget(form.message) }}
        {{ form_errors(form.message) }}
    </div>

    {# Render CSRF token etc .#}
    <div style="display:none">
        {{ form_rest(form) }}
    </div>

    <input class="btn btn-success send_btn" type="submit" value="Envoyer">

{{ form_end(form) }}

{% for label, messages in app.flashes(['warning']) %}
{% for message in messages %}
      <div class="alert alert-{{ label }}">
          {{ message }}
{% endfor %}
{% endfor %}

</div>


<div class="contact_utile">

  <h1>Contact Utile</h1>

  <ul id="all_contact">
      <li>
        <ul class= "amb_contact">
          <li>Ambassade d'Arabie Saoudite en France</li>
          <li><i class="fas fa-home"></i>  92 Rue de Courcelles 75008 Paris</li>
          <li><i class="fas fa-phone-square"></i>  0033156794000</li>
          <li><i class="fas fa-envelope"></i>  fremb@mofa.gov.sa</li>
        </ul>
      </li>

      <li>
        <ul class= "amb_contact">
          <li  >Ambassade d'Arabie Saoudite en France</li>
          <li><i class="fas fa-home"></i>  Diplomatic Quarter, PO BOX 94367 - RIYAD 11693</li>
          <li><i class="fas fa-phone-square"></i>  (00 966 -11) 43 44 100</li>
          <li><i class="fas fa-envelope"></i>  admin-francais.riyad-amba@diplomatie.gouv.fr</li>
        </ul>
      </li>
  </ul>

</div>


{% endblock %}
