{% extends 'repertoire/baserep.html.twig' %}

{% block body %}
{{parent()}}

<main>
<img src="{{asset('images/haram.jpg')}}" alt="">
  <h1>Le Repertoire</h1>
  <p>Pilgrim.com vous facilite le depart</p>

</main>

<footer>

  <ul>
    <a href="{{path('list_agence', ({'page': 1}))}}">
      <li>
        <img src="{{ asset('images/agence.jpg') }}" alt="la porte de la kaaba">
        <h5>Répertoire</h5>
      </li>
    </a>

    <a href="{{path('list_hotel',  ({'page': 1}))}}">
      <li>
        <img src="{{ asset('images/hotels.jpg') }}" alt="le coran">
        <h5>hotels</h5>
      </li>
    </a>


  </ul>


  <div class="after_footer">
    <p>Toutes les Agences et Hotels rien que pour vous...</p>
  </div>

</footer>







{% endblock %}
