{% extends 'repertoire/baserep.html.twig' %}

{% block body %}
{{parent()}}

<img src="{{asset('images/haram2.jpg')}}" alt="">
{% include 'widget/meteo.html.twig'%}
{% include 'widget/convertisseur.html.twig'%}
{% include 'widget/table.html.twig'%}
{% include 'widget/playlist.html.twig'%}
<div class="agences">

  <h1>Toute les agences</h1>


{% for A in agence %}


<div class="card agence">
  <img class="card-img-top" src="{{asset('uploads/'~ A.logo)}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{A.nom}}</h5>
    <p class="card-text"> {{A.adresse}} {{A.codePostale}} {{A.ville}}</p>
    <hr>
    <h6>tel: {{A.tel}}</h6>
    <h6>fax: {{A.fax}}</h6>
    <h6>email: {{A.email}}</h6>
    <hr>
    <a href="{{A.lien}}" class="btn ">En savoir plus</a>
  </div>
</div>


{% endfor %}

<div class="footer">


{% if pagination.nbPages > 1 %}
    <ul class="pagination">
        {% if pagination.page > 2 %}

        <li class="page-item">
          <a class="page-link" href="{{ path("list_by_region", ({'id':id, 'page': 1})) }}"> << </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{{ path("list_by_region", ({'id':id, 'page': pagination.page-1})) }}"> Previous </a>
            </li>
        {% endif %}

        {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
        {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.nbPages)) %}
            <li class="page-item {% if p == pagination.page %}active{% endif %}" >
                <a class="page-link" href="{{ path('list_by_region', ({'id':id, 'page': p})) }}">{{ p }}</a>
            </li>
        {% endfor %}

        {% if pagination.page < pagination.nbPages %}
            <li class="page-item" >
                <a class="page-link" href="{{path('list_by_region', ({'id':id, 'page': pagination.page+1})) }}">
                    Next
                </a>
            </li>
            <li  class="page-item">
                <a class="page-link" href="{{ path('list_by_region', ({'id':id, 'page': pagination.nbPages})) }}">
                    >></a>
            </li>
        {% endif %}
    </ul>
{% endif %}

</div>

</div>

{% endblock %}
