<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Infos{% endblock %}</title>
        <link rel="stylesheet" href="{{asset('css/reset.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{asset('css/stylemeteo.css')}}">
        <link rel="stylesheet" href="{{ asset('css/styleconv.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styleplaylist.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styletable.css') }}">
        <link rel="stylesheet" href="{{ asset('css/stylegalerie.css') }}">
        <link rel="stylesheet" href="{{asset('css/stylehomeinfo.css')}}">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logo.jpg') }}" />

        <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee:300" rel="stylesheet">
    </head>


    <body>
        {% block body %}

        <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{path('homepage')}}">PILGRIM <span class="sr-only">(current)</span>.fr</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('home_info')}}">Accueil</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Toutes les infos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for I in infos %}
                <a class="dropdown-item" href="{{path('show_info', {'id':I.id})}}">
                  {{ I.titre }}</a>
                {% endfor %}

                </div>
            </li>

              <li class="nav-item">
                <a class="nav-link disabled" href="{{path("myapplication_contact")}}">Contact</a>
              </li>
            </ul>
          </div>
        </nav>

        </header>


        {% endblock %}



        {% block javascripts %}
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>


        <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
        </script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


        {% endblock %}
    </body>
</html>
