{% extends 'info/baseinfo.html.twig' %}

{% block body %}
{{parent()}}

{% include 'widget/meteo.html.twig'%}
{% include 'widget/convertisseur.html.twig'%}
{% include 'widget/table.html.twig'%}
{% include 'widget/playlist.html.twig'%}

  <div class="info_show">


  <h1 id= "titre_info">{{info.titre}}</h1>
  <img src="{{asset('uploads/'~ info.image)}}" alt="la mecque">
  {% if info.soustitre %}
  <h2>{{info.soustitre}}</h2>
  {% endif %}
  <ul>
    <li><i class="fas fa-hand-point-right"></i> {{info.listeA}}</li>
    <li>{% if info.listeB %}<i class="fas fa-hand-point-right"></i>{% endif %}{{info.listeB}}</li>
    <li>{% if info.listeC %}<i class="fas fa-hand-point-right"></i>{% endif %}{{info.listeC}}</li>
    <li>{% if info.listeD %}<i class="fas fa-hand-point-right"></i>{% endif %}{{info.listeD}}</li>
    <li>{% if info.listeE %}<i class="fas fa-hand-point-right"></i>{% endif %}{{info.listeE}}</li>
  </ul>

</div>

{% endblock %}
