{% extends 'blog/baseblog.html.twig' %}

{% block body %}
{{ parent() }}


{% for post in posts %}


<div class="show_article">
  <div class="fb-share-button" data-href="http://localhost/Pilgrim/pilgrim/web/app_dev.php/blog/1/show" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%2FPilgrim%2Fpilgrim%2Fweb%2Fapp_dev.php%2Fblog%2F1%2Fshow&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>
  <img src="{{asset('uploads/'~ post.image)}}" alt="">
    <h2> <span> [{{post.categories.categorieNom}}]</span> {{ post.titre}}</h2>
    <ul>
      <li> <i class="far fa-user"></i> {{ post.date | date('d-m-Y') }} - </li>
      <li> <i class="far fa-calendar-alt"></i> {{ post.auteur }} </li>
    </ul>
      <p>{{post.text}}</p>

</div>


<div class="commentaire">



  <h3><i class="fas fa-comments"> </i> Commentaire:</h3>



{% for com in post.commentaires %}

  <ul class="comment">

      <li class='auteur'>{{ com.auteurCom }} - </li>
      <li class='date'>{{ com.dateCom| date('d/m/Y à H:i') }} - </li>
      <li class='texte'>{{ com.textCom }}</li>

  </ul>
{% endfor %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}

<div id="titre">

<h3>Laisser un commentaire</h3>
</div>



<div id="form_com">
      <input id="id" name="prodId" type="hidden" value="{{post.id}}">
      <textarea name="commentaire"  rows="10" cols="50" id="commentaire" placeholder="votre commentaire"></textarea>
    <button type="button" id="submit">Commenter</button>


</div>

{% else %}
  <p>
    si vous souhaitez réagir <a href="{{path('login')}}">connectez-vous</a> ou <a href="{{path('logup')}}">inscrivez-vous</a> en quelques click.
  </p>
{% endif %}

</div>

  {% endfor %}
{% include 'blog/footer.html.twig' %}
{% endblock %}
