{% extends 'blog/baseblog.html.twig' %}

{% block body %}
{{ parent() }}


{% for post in posts %}


<div class="show_article">
  <img src="{{asset('images/'~ post.image)}}" alt="">
    <h2> <span> [{{post.categories.categorieNom}}]</span> {{ post.titre}}</h2>
    <ul>
      <li> le {{ post.date | date('d-m-Y') }} - </li>
      <li>{{ post.auteur }} </li>
    </ul>
      <p>{{post.text}}</p>

</div>


<div class="commentaire">

  <h3>Commentaire:</h3>

{% for com in post.commentaires %}

  <ul>
    <li>{{ com.auteurCom }} - </li>
    <li>{{ com.dateCom| date('d/m/Y à H:i') }} - </li>
    <li>{{ com.textCom }}</li>
  </ul>

{% endfor %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}


<h3>Laisser un commentaire</h3>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" />
{{ form_end(form) }}

{% else %}
  <p>
    si vous souhaitez réagir <a href="{{path('login')}}">connectez-vous</a> ou <a href="{{path('logup')}}">inscrivez-vous</a> en quelques click.
  </p>
{% endif %}

</div>



  {% endfor %}

{% include 'blog/footer.html.twig' %}
{% endblock %}
