{% extends 'log_form/baseform.html.twig'%}

{% block body %}
{{ parent() }}


<div class="log_form">

<div class="tete">
  <h1>Connexion</h1>
  <p>Vous n'avez pas encore de compte ? <a href="{{path('logup', {'id': 1})}}"> Créez-en un !</a></p>
</div>

<div id="error">

{% if error %}
    <div>votre username ou votre mot de passe est incorrect.</div>
{% endif %}
</div>


<form action="{{ path('login') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    {% if app.request.get('_route') != app.request.headers.get('referer') %}
    <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}" />
{% endif %}

    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit">connexion</button>
</form>

<a href="{{path('resetpassword')}}">Mot de passe oublié</a>

</div>

{% endblock %}
