{% extends 'admin/baseadmin.html.twig' %}

{% block body %}
{{ parent() }}
{% include 'admin/header.html.twig' %}
<div class="bodyadmin">
    <h1>User creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" class="btn btn-success btn-sm" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a class="btn btn-warning btn-sm" href="{{ path('admin_user_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
{% endblock %}
