{% extends 'admin/baseadmin.html.twig' %}

{% block body %}
{{ parent() }}
{% include 'admin/header.html.twig' %}
  <div class="bodyadmin">
    <h1>Commentaires list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Auteurcom</th>
                <th>Datecom</th>
                <th>Textcom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commentaire in commentaires %}
            <tr>
                <td><a href="{{ path('blog_commentaires_show', { 'id': commentaire.id }) }}">{{ commentaire.id }}</a></td>
                <td>{{ commentaire.auteurCom }}</td>
                <td>{% if commentaire.dateCom %}{{ commentaire.dateCom|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ commentaire.textCom }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-primary btn-sm" href="{{ path('blog_commentaires_show', { 'id': commentaire.id }) }}">show</a>
                        </li>
                        <li>
                            <a class="btn btn-warning btn-sm" href="{{ path('blog_commentaires_edit', { 'id': commentaire.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-success" href="{{ path('blog_commentaires_new') }}">Create a new commentaire</a>
        </li>
    </ul>
    </div>
{% endblock %}
