{% extends 'admin/baseadmin.html.twig' %}

{% block body %}
{{ parent() }}
    <h1>Commentaire</h1>
    <div class="bodyadmin">

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commentaire.id }}</td>
            </tr>
            <tr>
                <th>Auteurcom</th>
                <td>{{ commentaire.auteurCom }}</td>
            </tr>
            <tr>
                <th>Datecom</th>
                <td>{% if commentaire.dateCom %}{{ commentaire.dateCom|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Textcom</th>
                <td>{{ commentaire.textCom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary btn-sm" href="{{ path('blog_commentaires_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-warning btn-sm" href="{{ path('blog_commentaires_edit', { 'id': commentaire.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger btn-sm" >
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
