{% extends 'admin/baseadmin.html.twig' %}

{% block body %}
{{ parent() }}
{% include 'admin/header.html.twig' %}
<div class="bodyadmin">
    <h1>Category edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('blog_categories_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger"  type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
