{% extends 'admin/baseadmin.html.twig' %}

{% block body %}
{{ parent() }}
{% include 'admin/header.html.twig' %}
<div class="bodyadmin">
    <h1>Category</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Categorienom</th>
                <td>{{ category.categorieNom }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a class="btn btn-primary btn-sm" href="{{ path('blog_categories_index') }}">Back to the list</a>
        </li>
        <li>
            <a class="btn btn-warning btn-sm" href="{{ path('blog_categories_edit', { 'id': category.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger btn-sm" >
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
